body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(
        135deg,
        #f6d6ad 0%, 
        #f1b06a 40%,  
        #d67a4f 100%
    );
    min-height: 100vh;
}

.navbar-inverse {
    background-color: #cf5432;
    border-color: #bf583c;
}

.navbar-inverse .navbar-brand {
    color: #FBE9DD;
}

.navbar-inverse .navbar-nav li a {
    color: #FBE9DD;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav li a:hover {
    color: #FFD3A4;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    background-color: #8C4A2F;
    color: #FFF7EC;
}

.nav-logo {
    height: 85px;    
    width: auto;
    margin-top: -32px;  
}

/* CARD FORM */
.form-container {
    background: #fffaf3;          
    width: 90%;
    max-width: 900px;
    border-radius: 25px;
    padding: 32px 36px 26px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    margin: 28px auto 40px;
    margin-top: 50px;
}

h2 {
    margin: 0 0 10px;
    color: #5b3a29;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.form {
    margin-top: 8px;
}

.form-box {
    border: none;
    padding: 0;
}

.baris {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 12px;
    max-width: 850px;
}

.kiri,
.kanan {
    flex: 1; 
    max-width: 400px;              
}

/* LABEL + INPUT */
.kotak {
    margin-bottom: 6px;
}

.kotak label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #5b3a29;
    margin-bottom: 4px;
}

.isi {
    width: 100%;
    padding: 9px 14px;
    border-radius: 999px;
    border: 1px solid #e0b898;
    background-color: #fdf1e2;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.isi::placeholder {
    color: #b38b6d;
}

/* NOTE */
.note {
    margin-top: 2px;
    padding-left: 10px; 
    border-left: 3px solid #d6844a;  
    max-width: 360px;          
}

.ntitle {
    margin: 0 0 4px;
    font-size: 13px;
    font-weight: bold;
    color: #5b3a29;
}

.ntext {
    margin: 0 0 3px;
    font-size: 12px;
    line-height: 1.4;
    color: #7b5a3d;
}

/* TOMBOL */
.tombol {
    padding: 8px 24px;
    border-radius: 999px;
    border: none;
    background-color: #d95f4b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.tombol:hover {
    background-color: #c24d3b;
}


.sfooter {
    text-align: center;
    padding: 20px 10px;
    background-color: #903013;
    color: #ffffff;
    font-size: 14px;
    margin-top: auto;
}
.sfooter a {
    color: #ffcc00;
    text-decoration: none;
    transition: .2s;
}
.sfooter a:hover {
    text-decoration: underline;
}

